{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="">
    <!-- DESTACADOS SLIDER -->
    <div id="destacados" class="slider-box">
        <h2 class="special">Destacados</h2>
        <ul>
            {% for property in outstandingProperties %}
                <li>
                    {% if property.images|length > 0 %}
                        <img class="main-image" src="{{ asset('uploads/' ~ property.reference ~ '/' ~ property.images[0]) }}" alt="Imagen de {{ property.title }}">
                    {% else %}
                        <img class="main-image" src="{{ asset('images/default-placeholder.jpg') }}" alt="Imagen no disponible">
                    {% endif %}
                </li>
            {% endfor %}

        </ul>    
    </div>
    <!-- FIN DESTACADOS SLIDER -->

    <hr>

    <!-- TODO crear nueva entidad 'about' y formulario para añadir, modificar y eliminarlos para personalizar esta seccion -->
    <!-- SOBRE NOSOTROS -->
    <div id="sobre-nosotros" class="section">
        <h2 class="special">Sobre nosotros</h2>
        <div class="products-container">
            
                <div class="product-carousel">
                    <h3><i class="fa-solid fa-map-location-dot"></i> Explora</h3>
                    <div class="carousel-container">
                        <div class="about">
                            <p>Encuentra la Casa de tus Sueños en la Costa del Sol con Alejandra Home. Nos dedicamos a hacer realidad el sueño de tener un hogar en la hermosa Costa del Sol. Nuestro equipo se esfuerza por ofrecer un servicio excepcional, combinando un trato personalizado y profesional para cada cliente.</p>
                        </div>  
                    </div>
                </div>

                <div class="product-carousel">
                    <h3><i class="fa-solid fa-medal"></i> Experiencia</h3>
                    <div class="carousel-container">
                        <div class="about">
                            <p>Nuestra Promesa de Servicio Personalizado y Profesional. En Alejandra Home, entendemos que la compra de una propiedad es más que una transacción, es una experiencia de vida. Por eso, nos comprometemos a brindar un servicio excepcional, con atención personalizada y profesional en cada paso del camino.</p>
                        </div>   
                    </div>
                </div>

                <div class="product-carousel">
                    <h3> <i class="fa-solid fa-key"></i> Facilidad</h3>
                    <div class="carousel-container">
                        <div class="about">
                            <p>Trámites Simplificados para tu Comodidad Inmobiliaria. En Alejandra Home, nos encargamos de mucho más que solo la compra de tu propiedad. Gestionamos todos los trámites necesarios antes y después de la transacción, incluyendo verificación de cargas, tributos, comunidades, suministros, hipotecas y tramitación de escrituras, para que puedas disfrutar de tu nuevo hogar sin preocupaciones.</p>
                        </div>
                    </div>
                </div>

                <div class="product-carousel">
                    <h3><i class="fa-solid fa-flag"></i> Diversidad</h3>
                    <div class="carousel-container">
                        <div class="about">
                            <p>Tu Sitio Inmobiliario Multilingüe. En Alejandra Home, nos enorgullece ofrecer nuestros servicios en varios idiomas. Ya seas español, inglés, francés o ruso, nuestro equipo está aquí para ayudarte a encontrar la propiedad perfecta y facilitar el proceso de compra con fluidez y claridad en el idioma que prefieras.</p>
                        </div>
                    </div>
                </div>

                <div class="product-carousel">
                    <h3><i class="fa-solid fa-check"></i> Confianza</h3>
                    <div class="carousel-container">
                        <div class="about">
                            <p>Descubre Opciones Variadas y Seguras. En Alejandra Home, trabajamos tanto con productos bancarios como con propiedades particulares, brindándote una amplia gama de opciones confiables para elegir. Puedes contar con nosotros para encontrar la mejor opción que se adapte a tus necesidades y preferencias, con total transparencia y confianza.</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- FIN SOBRE NOSOTROS -->

    <hr>
    
    <!-- PROPIEDADES EN VENTA -->
    <div id="propiedades-venta" class="section">
        <h2>Propiedades en Venta</h2>
        <h5>Encuentra la casa de tus sueños</h5> 
        <div class="products-container">
            {% for property in saleproperties %}
                <div class="product-carousel">
                    
                    <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in property.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset('uploads/' ~ property.reference ~ '/' ~ image) }}" class="d-block w-100" alt="Imagen de {{ property.title }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <h4><a href="{{ path('property_detail', { id: property.id }) }}"> {{ property.title }} </a> </h4>
                    
                    <p> {{ property.shortdescription }} </p>
                    <p class="price">{{ property.price|number_format(0, ',', '.') }} € <span class="price-remarks"> {{ property.priceobservation }} </span> </p> <!-- el 0 indica el numero de decimales --> 
                    <hr>
                    <p><i class="fa-solid fa-map-location-dot"></i> {{ property.area }}</p>
                    

                </div>    
            {% endfor %}
        </div>
    </div>
    <!-- FIN PROPIEDADES EN VENTA -->
    
    <hr>

    <!-- PROPIEDADES EN ALQUILER -->
    <div id="propiedades-alquiler" class="section">
        <h2>Propiedades en Alquiler</h2>
        <h5>Tenemos alquileres para larga temporada</h5> 
        <div class="products-container">
            {% for property in rentproperties %}
                <div class="product-carousel">
                    <h4><a href="{{ path('property_detail', { id: property.id }) }}"> {{ property.title }} </a> </h4>
                    <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in property.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset('uploads/' ~ property.reference ~ '/' ~ image) }}" class="d-block w-100" alt="Imagen de {{ property.title }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <hr>
                    <p> {{ property.shortdescription }} </p>
                    <p class="price">{{ property.price|number_format(0, ',', '.') }} € <span class="price-remarks"> {{ property.priceobservation }} </span></p> <!-- el 0 indica el numero de decimales --> 
                    <hr>
                    <p><i class="fa-solid fa-map-location-dot"></i> {{ property.area }}</p>
                    

                </div>    
            {% endfor %}
        </div>
    </div>
    <!-- FIN PROPIEDADES EN ALQUILER -->

    <hr>

    <!-- PROPIEDADES EN ALQUILER VACACIONAL -->
    <div id="propiedades-vacacional" class="section">
        <h2>Propiedades en alquiler vacacional</h2>
        <h5>Encuentra la casa de tus sueños</h5> 
        <div class="products-container">
            {% for property in vacationalproperties %}
                <div class="product-carousel">
                    <h4><a href="{{ path('property_detail', { id: property.id }) }}"> {{ property.title }} </a> </h4>
                    <div id="propertyCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in property.images %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    <img src="{{ asset('uploads/' ~ property.reference ~ '/' ~ image) }}" class="d-block w-100" alt="Imagen de {{ property.title }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#propertyCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#propertyCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <hr>
                    <p> {{ property.shortdescription }} </p>
                    <p class="price">{{ property.price|number_format(0, ',', '.') }} € /semana  <span class="price-remarks"> {{ property.priceobservation }} </span></p> <!-- el 0 indica el numero de decimales --> 
                    <hr>
                    <p><i class="fa-solid fa-map-location-dot"></i> {{ property.area }}</p>
                    

                </div>    
            {% endfor %}
        </div>
    </div>
    <!-- FIN PROPIEDADES EN ALQUILER VACACIONAL -->
</div>


{% endblock %}



